.appointment {
	padding: 10px;
}

.label {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: rgb(150, 150, 150);
	font-size: 13px;
}

.form-value {
	text-align: left;
	font-weight: 600 !important;
	font-size: .9rem !important;
}
.form-label {
	flex:none !important;
}

.form-field {
	border-bottom: 1px solid #ccc!important;
}

.form-container {
	border: 1px solid #CCC!important;
	border-radius: 5px;
}

.work-editor {
    height: 300px !important;
    padding: 10px 0px;
    line-height: 1;
    font-size: 13px;
}

.materials-editor {
    height: 200px !important;	
    padding: 10px 0px;
    line-height: 0.6 !important;
    font-size: 13px;
}

.top-pad {
	padding-top:20px;
}

.invoice-section-header{
	font-size:1.3rem;
	font-weight:400;
	padding: 0px 0px 30px 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.hide-toolbar { display:none !important; }

.sigCanvas {
	border: 1px solid #CCC!important;
	border-radius: 5px;
	width: 100%;
	height: 240px;
}

.dropin {
	max-width: 400px;
	margin-left: calc(50% - 200px);
}

.agreement-editor {
	overflow:hidden;
	margin-top: -100px;
    line-height: 1;
    font-size: 13px;
}


.vertical-padding {
	padding-top: 30px;
	padding-bottom: 30px;
}

.icon-header {
	margin-right:10px;
}