@import './style1.css';


#projects {
	text-align:center;
	padding-top: 50px;
}

.employeeLogin {
	font-size: 0.8rem;
	font-weight: 700;
	color: blue;
}

.slick-next {
  right: 60px;
  z-index: 3;
}

.slick-prev {
  left: 40px;
  z-index: 3;
}

.slick-next:before, .slick-prev:before {
  font-size: 40px;
}

.center_text { text-align: center; }
.big_padding { padding: 60px 0px 0px 0px; }


.site_text {
  color: #5ca4fc;
  font-size: 1.4rem;
}

.carousel {
  img {
    max-width: 100%;
  }
}

.nav {
  position: fixed;
  font-weight: 500;
  font-family: proxima-nova, Montserrat, sans-serif;
  background-color:rgba(0,0,0,.8);
  color: #fff;
  width: 100%;
  height: 58px;
  z-index: 9999;
  top: 0;
  padding-right: 150px;

  .nav-wap{
    max-width: 1100px;
    padding: 0px 0px;
    margin: 0 auto;
  }

  .nav-list {
    width: 120px;
    height: 100%;
    float: left;
    line-height: 58px;
    text-align: center;
    cursor: pointer;
    transition: background .45s;
  }

  .nav-bar {
    width: 120px;
    position: absolute;
    top: 43px;
    left: 0;
    height: 2px;
    background-color: #0098ce;
    transition: left .3s;
  }

  .right-nav-header {
    float: right;
    display: flex;
    flex-direction: row;
    .right-link {
      margin-top: 15px;
      margin-right: 20px;
      cursor: pointer;
    }
    .scheduler {
      cursor: pointer;
      margin-top: 9px;
      height: 38px;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.2;
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      -ms-transition: all .1s linear;
      -o-transition: all .1s linear;
      background-color: #0684F3;
    }
    .scheduler:hover {
      box-shadow: 0 0 1px 1px rgb(255,255,255);
      color: rgb(255,255,255);
    }
  }
}

.hoverlink {
  color: hsla(0,0%,100%,.7);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  color: hsla(0,0%,100%,.7);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.hoverlink:hover {
  color: rgb(255,255,255);
}

.workcategories-row {
  max-width : 700px;
  margin : 10px auto;
}

.project-row {
  max-width : 900px;
  margin : 10px auto;
}

.accreditions-row {
  max-width : 700px;
  margin : 10px auto;
}


@media screen and (max-width: 992px) {
  
  .workcategories-row {
    width : 700px;
    margin : 10px auto;
  }

  .pricing-row {
    width : 300px;
    margin : 3rem auto;
  }

  .accreditions-row {
    max-width : 300px;
    margin : 3rem auto;
  }

  .close-btn {
    margin-right: 4rem;
  }

}

.services-header {
  font-size: 2.5em;
  padding-top: 0px;
  padding-bottom: 20px;
}

/* */
hr {
  margin-left: 0;
  max-width: 40px;
}

/* Bustom button */
.btn-primary {
  background: #1096fc;
  border: 0;

  &:hover {
    background: darken(#1096fc, 7%);
  }
}

/* Features */
.sec-features {
  .row {
    &:nth-of-type(n+2) {
      margin-top: 160px;
    }

    &:last-of-type {
      margin-bottom: 160px;
    }
  }

  .feature-icon {
    max-width: 150px;
  }
}

/* Carousel */
.carousel-indicators {
  bottom: -30px;

  li {
    background: rgba(33, 33, 33, .1);

    &:focus,
    &:hover {
      background: rgba(33, 33, 33, .5);
    }
  }

  .active {
    background: rgba(33, 33, 33, .75);
  }
}

.carousel-control-next,
.carousel-control-prev {
  & {
    color: #212121;
  }

  &:focus,
  &:hover {
    color: #111;
  }
}

.video-container {
  position: relative;
}

.lead {
  margin: 10px 10px;
}

.services {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.padded-section {
  padding: 6rem 0rem;
}

.acrredition-card {
  margin-top: 1rem;
  width: 375px;
}

.close-btn{
  margin-right: 8rem !important;
}

.pricing-icon {
  color: rgb(100,100,100);
  font-size: 5rem;
}

.danger-btn {
  background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.chicago {
  font-size: 0.8rem;
  color: rgb(150,150,150);
  .flag {
    margin-left: 15px;
  };
  margin-top: 20px;
}

.footer-distributed{
	background-color: #292c2f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px;
	padding: 55px 50px;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff !important;
	margin: 20px 0px 12px 0px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

#lbiImg {
  height: 150px;
}

#yelpImg {
  height: 130px;
  margin-top: 15px;
}

#bbbImg {
  height: 60px;
  margin-top: 40px;
}

.yelp-header {
  width: 70px;
  margin: 13px 0px 0px 0px;
}

.site-blocks-cover{
  overflow: hidden;
}

.rel{
  position: relative;
}

/*aditya*/
.mr-auto {
  padding-right: 60px;
  text-align: center;
  margin-left: -30px;
}

.nav-link, .dropdown-item {
  font-size: 1.2rem;
  font-family: 'Futura PT Book';
  color: rgb(30,30,30) !important;
}

.nav-link:hover{
  color: #4285f4 !important;
}

.footer-link{
  font-size: 1rem;
  font-family: 'Futura PT Book';
  color: rgb(255,255,255) !important;
  margin-right: 10px;
}

.footer-link:hover{
  color: #4285f4 !important;
}


.dropdown-menu {
  border-radius: 0px;
}

.site-blocks-cover h1 {
  margin-top: 40px;
}

/*aditya*/
.mr-auto {
  padding-right: 60px;
  text-align: center;
  margin-left: -30px;
}

@media(max-width:992px) {
.mr-auto {
      padding-right: 10px;
      margin-left: 0px;
  }
}

.top-header {
  margin-top: 60px;
}

.skyline {
  width: 140% !important;
  max-width: none;
  margin-top: -30%;
  margin-left: -20%;
}

.big-circle-img {
  margin-top: 60px;
  padding-top: 80px;
  .unit-4-icon {
    top: -130px;
    .icon-wrap {
      width : 200px !important;
      height: 200px !important;
      .pricingimg {
        border-radius: 50%;
        -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .4);
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .4)
      
      }
    }
    .remove-background {
      background-color: rgba(255,255,255,0) !important;
    } 
  }
}

.circle-img {
  margin-top: 100px;
  padding-top: 40px;
  .unit-4-icon {
    top: -125px;
    .icon-wrap {
      width : 150px !important;
      height: 150px !important;
      .pricingimg {
        border-radius: 50%;
        -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .4);
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .4)
      
      }
    }
  }
}

.service-icon {
  width: 45px;
  margin-top: -8px;
}

.mynavbar {
  padding-left: 50px;
}

.textLogo {
  font-weight: 700;
  .red {
    color: red;
  }

  .blue  {
    color: blue;
  }
}


.invoicelookup {
  text-align:center;
}