
.MuiTableRow-root-48 {
	cursor: pointer;
}

.MuiTableRow-root-48:hover {
	background-color: rgba(100, 178, 255, 0.7);
}

.rbc-event-content:hover {
	background-color:black;
}

.grey-section{
	background-color: #f5f5f5;
  }