html(lang="en")
	head
		include ./style.jade

	div.mail
		img#top-logo(src="https://mrrepairman.com/logo.png")
				
		block content

		div#copyright Copyright © 2020 Mr Repairman LLC., 3023 N Clark St, Suite 292, Chicago, IL 60657, U.S.A.
		img#bottom-logo(src="https://mrrepairman.com/slogo.png")
