style(type='text/css').			
    .mail {
        font-family: 'Helvetica Neue',Arial,sans-serif;
        background-color: #f6f6f6;
        padding: 20px 100px;
        text-align: center;
    }
    #top-logo {
        width: 300px;
        margin-left: -30px;	
        margin-bottom: 30px;			
    }
    .bold {
        font-weight: 700;
    }
    .container {
        width: 600px;
        border-radius: 3px;
        border: 1px solid rgb(220,220,220);
        color: rgb(34, 34, 34);
        margin-left: -60px;
        padding: 30px 40px;
        background-color: #fff;
        text-align: center;
        margin-bottom: 10px;
    }
    .green {				
        color: rgb(10, 150, 50);
    }
    .blue {
        color: #4285f4;
    }
    .red {
        color: red;
    }
    .inner-container {
        text-align: left;
        padding: 20px 40px;
    }
    #copyright{
        color: #666666;
        margin-top: 20px;
        font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
        font-size: 13px;
    }
    #bottom-logo {
        margin-top: 30px;
        width: 50px;
    }
