extends ./../layout.jade
block content
	div.container
		h2.green #{appointment.customerName.first} your appointment has been confirmed for 
		h2.blue #{date} 
			span.green at 
			span #{time}

	div.container
		h3 Appointment# #{appointment.name}
		
		div.inner-container
			div Service Fee: $#{config.serviceFee}
			div Paid for Hours: #{config.paidForHours} Hrs
			div Labor Rate: $#{config.perHourRate}/Hr
			div.bold Total Paid: $#{payment.amount}

			div.blue
				h4 Any service 2 hours or more the service fee will be applied towards labor charges

		h3 Your Information

		div.inner-container
			div.bold Email: 
				span.blue #{appointment.email}
			div.bold Phone: 
				span.blue #{appointment.phoneNumber}