extends ./../layout.jade
block content
	div.container			
		h2.red #{recepient.name.first} your appointment for 
		h2.blue #{date} 
			span.green at 
			span #{time}
		h2.red was cancelled.

	div.container
		h3 Appointment# #{appointment.name}
		
		div.inner-container
			div Customer Name: 
				span.bold #{appointment.customerName.first} #{appointment.customerName.last}
			div Address: 
				span.bold #{appointment.addressLine1}, #{appointment.addressLine2}
			div Zipcode: 
				span.bold #{appointment.zipCode}
			div Phone: 
				span.bold #{appointment.phoneNumber}
			div Type of work: 
				span.bold #{JSON.stringify(workCategories)}
			div Customer Instructions : 
				span.bold #{appointment.message}