  .block {
    max-width: 250px;
  }

  .checkbox {
    margin-bottom: 16px;
  }

.tick {
  margin-top: 10px;
  margin-right: 30px;
}

.tickOutside {
  margin-top: 10px;
  margin-left: 10px;
}

.outsideservicearea {
  font-size: 1.2rem;
  color: red;
}

.horizontal {
  display: -webkit-inline-box;
}

.labelStyleActive {
  font-size: 24px;
  font-family: 'Montserrat',Helvetica,'Helvetica Neue',Arial,serif;
  color: green;
  font-weight: 900;
  margin-left: 30px;
}

.labelStyle {
  font-size: 16px;
  font-family: 'Montserrat',Helvetica,'Helvetica Neue',Arial,serif;
  color: #3d4549;
  font-weight: 600;
  margin-left: 30px;
}

.conf {
  font-size: 16px;
}

.bold {
  font-weight: 600;
}

.modal-scheduler {
  width: 10%;
  height: 10%;
  opacity: 0;
  padding: 10px;
    box-shadow: 4px 4px 80px #000;
    -webkit-box-shadow: 4px 4px 80px #000;
    -moz-box-shadow: 4px 4px 80px #000;
    -ms-box-shadow: 4px 4px 80px #000;
    -o-box-shadow: 4px 4px 80px #000;
    border-radius: 4px;
    visibility: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    background: url("./images/bg-tan.png") ;
}

.openScheduler {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity:1;
    visibility: visible;
}

.locationType {
  font-size: 1rem;
  font-family: 'Montserrat';
  color: 'rgb(10,10,10)';
}

.work-categories {
    padding-top: 20px;
}

.step {
    overflow-y: auto;
    overflow-x: hidden;
    text-align:center;
    height: calc(100% - 80px); 
}

.schedule-step-title {
  color:rgb(50,50,200);
  font-size:.8rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

input{
  color: rgb(10,100,150) !important;
}

.location-type {
  width: 150px;
  margin-left: calc(50% - 60px);
}

.dropin {
  max-width: 400px;
  margin-left: calc(50% - 200px);
}

.MuiRadio-root{
  padding: 2px !important;
}

.ampm {
  margin: 3px;
}

.form-element {
  width: 75%;
}

.zipcode {
  width: 150px;
}

.servicetypes {
  min-width: 350px !important;
}

.textField {
  width: 100%;
  max-width: 600px;
}